[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
aiohttp-devtools = "*"
"aiohttp-jinja2" = "*"
uvloop = "*"
aiopg = "*"
sqlalchemy = "*"
tortoise-orm = "*"
asyncpg = "*"

[dev-packages]

[requires]
python_version = "3.6"
